@tailwind base;
@tailwind components;

@tailwind utilities;
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #203153;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #050c1a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #263149;
}